.wrapperInput{
	display: flex;
	justify-content: center;
	align-items: center;
}


input {
	padding: 8px 10px;
}

button {
	margin-left: 10px;
	border-radius: 20px;
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none;
}
