.App {
  color: #fff;  
  
  text-align: center;
  width: 350px;
  
  margin: 2rem auto;
  padding-bottom: 1rem;
}

.container {
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}


